.loginbody
{
background-color:white;

}

#loginform ,#signupform{
margin-top:11%;
margin-left:30%;
background-color:teal;
height:7cm;
width:13cm;
padding:20px;
border-radius:5px;
}

#loginform table, #signupform table{

font-size:20px;
margin-left:2cm;
}


#loginform h3, #signupform h3{

text-align:center;
font-size:30px;
color:white;
}


#loginform  input, #signupform input{

background-color:transparent;
border:none;
border-bottom:solid;
color:white;
margin-left:8px;

}

#loginform button, #signupform button{

background-color:black;
color:white;
border:none;
height:0.7cm;
width:2cm;
margin-left:45px;
margin-top:10px;

}













body{
background-color:white;
color:black;
}

#nav{
background-color:teal;
color:white;
height:6%;
width:100%;
padding:20px;
margin-left:-10px;
margin-top:-10px;
}


#nav b{
font-style:sans serif;
font-size:30px;
margin-right:2cm;
}


#nav input{

border-radius:3px;
margin-right:13cm;
margin-left:2cm;
height:30px;
width:10cm;
border:none;

}

#nav a{
margin-right:5px;
margin-left:20px;
text-decoration:none;
color:white;
}

#image {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    
}

#image img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    text-align:center;
}
